<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
  </head>

  <body>
    <div class="homepage">
      <h1>Bookmark Manager</h1>
    </div>
    <div class="container">
      <h3><a class="bookmarkLink" href="/bookmarks">View Bookmarks</a></h3>
    </div>
  </body>
</html>