<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/CSS/index.css">
  </head>

  <body>
    <div class="container">
      <ul>
        <% @bookmarks.each do |bookmark| %>
          <li class="bookmark" id="bookmark-<%= bookmark.id %>">
            <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
            <form action="/bookmarks/<% bookmark.id %>" method="post">
              <input type='hidden' name='_method' value='DELETE' />
              <input type="submit" value="Delete" />
            </form>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="createContainer">
      <h3><a class="createLink" href="/bookmarks/new">Create Bookmark</a></h3>
    </div>
  </body>
</html>